<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70132739234-2voutrcl5vth3l6hlv1u8j7kqttko2rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70132739234-2voutrcl5vth3l6hlv1u8j7kqttko2rc</string>
	<key>API_KEY</key>
	<string>AIzaSyCsP5zKgm2C9uBG3KClOmqeAwYXVKBR_14</string>
	<key>GCM_SENDER_ID</key>
	<string>70132739234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasFp</string>
	<key>PROJECT_ID</key>
	<string>rifqial-31d31</string>
	<key>STORAGE_BUCKET</key>
	<string>rifqial-31d31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70132739234:ios:495c7f1a20e53b51df3bfb</string>
</dict>
</plist>